@page "/changepassword"

@if (!string.IsNullOrEmpty(Message)) {
    <div>
        @Message
    </div>
}
<div class="mx-auto">
    <div class="col-md-4">
        <EditForm Model="@Model" OnValidSubmit="@HandleChangePassword">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="m-3">
                <label class="control-label">Current Password</label>
                <InputText id="CurrentPassword" class="form-control" type="password" placeholder="Insert your current password." @bind-Value="Model.CurrentPassword" />
                <ValidationMessage For="@(() => Model.CurrentPassword)" />
            </div>

            <div class="m-3">
                <label class="control-label">New Password</label>
                <InputText id="NewPassword" class="form-control" type="password" placeholder="Insert your new password." @bind-Value="Model.NewPassword" />
                <ValidationMessage For="@(() => Model.NewPassword)" />
            </div>

            <div class="m-3">
                <label class="control-label">Confirm New Password</label>
                <InputText id="ConfirmNewPassword" class="form-control" type="password" placeholder="Confirm your new password." @bind-Value="@PasswordConfirm" />
                <ValidationMessage For="@(() => Model.NewPassword)" />
            </div>
            <div class="m-3">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        </EditForm>
    </div>
</div>