@page "/login"
<div class="row">
    <div class="col-md-4">
        <EditForm Model="@Model" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="m-3">
                <label class="control-label">Email</label>
                <InputText id="userName" class="form-control" @bind-Value="@Model.Email"></InputText>
                <ValidationMessage For="@(() => Model.Email)" />
            </div>
            <div class="m-3">
                <label class="control-label">Password</label>
                <InputText type="password" id="password" class="form-control" @bind-Value="@Model.Password"></InputText>
                <ValidationMessage For="@(() => Model.Password)" />
            </div>

            <div class="m-3">
                <p class="fst-italic">Don't have an account yet? Register right <a href="login/" class="link-dark"> here</a></p>
            </div>

            <div class="m-3">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
            
        </EditForm>
    </div>
</div>